@import url('https://fonts.googleapis.com/css?family=Lato|Roboto');
@import url('https://fonts.googleapis.com/css?family=Londrina+Solid');


* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 16px;
  	-webkit-font-smoothing: antialiased !important;
  	font-smoothing: antialiased !important;
}
#main-app {
  height: 100%;
  width: 100%;
}
.main-container {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.button-container {
	display: flex;
	margin: 0 auto;
	justify-content: space-between;
	width: 40%;
}
.footer-container {
	width: 100%;
	padding: 4em 0 2em 0;
	text-align: center;
}
.footer-container__text {
	font-size: 1em;
}
.search-container {
	width: 30%;
	margin: 6em auto 0 auto;
}
.search-field {
	padding: 0.31em;
	border: 1px solid #95a5a6;
}
.button-home {
	background: #2ecc71;
    color: #fff;
    padding: 0.8em;
    margin-top: 1em;
    apperance: none;
    outline: none;
    border: 0 none;
    cursor: pointer;
    font-size: 1em;
    border-radius: 0.31em;
}

.button-home--alert {
	background-color: #e74c3c;
}

.header {
	background-color: #3498db;
	color: #fff;
	padding: 1em;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
}
.header__logo {
	font-size: 2.3em;
	font-family: 'Londrina Solid', Verdana, sans-serif;
}
.header__logo-link {
	text-decoration: none;
	color: #fff;
}
.header__logo-link:hover {
	color: #fff;
}
.nav-list {
	list-style: none;
	display: flex;
	justify-content: space-between;
	width: 20%;
}
.nav-list__link {
	text-decoration: none;
	color: #fff;
}
.nav-list__link:hover {
	color: #000;
}
.gauge-container {
	width: 30%;
	margin: 3em auto 0 auto;
}

